@import "../../App.scss";
.lahoreproperty {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 170px;
  @media screen and (max-width: 575px) {
    padding-bottom: 50px;
  }
}
.lahore-property-content {
  h1 {
    font-size: $main-hedding;
    font-weight: bold;
    text-transform: uppercase;
  }
  h1::before {
    content: "";
    height: 35px;
    width: 7px;
    background: red;
    float: left;
    margin-right: 10px;
    border-radius: 3px;
    margin-top: 6px;
    @media screen and (max-width:1024px) {
      height: 30px;
      margin-top: -2px;
    }
  }

  p {
    padding-top: 30px;
    padding-bottom: 70px;
    font-size: 16px;
    font-family: 400;
  }
}
