@import "../../App.scss";
.main-project {
  background-color: #ebebeb;
 
  padding-bottom: 100px;
  padding-top: 100px;

    .card {
      margin-bottom: 10px;
    }
    h1 {
      font-size: $main-hedding;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 40px;
    }
    h1::before {
      content: "";
      height: 35px;
      width: 7px;
      background: red;
      float: left;
      margin-right: 10px;
      border-radius: 3px;
      margin-top: 5px;
      @media screen and (max-width:1024px){
        margin-top: -2px;
      }
    }
  }
  .card-title {
    font-size: $mini-hedding;
    font-weight: bold;
  }


.main-decesion {
  padding-bottom: 90px;
  padding-top: 70px;

  h1 {
    font-size: $main-hedding;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 40px;
  }
  h1::before {
    content: "";
    height: 35px;
    width: 7px;
    background: red;
    float: left;
    margin-right: 10px;
    border-radius: 3px;
    margin-top: 5px;

    @media screen and (max-width:1024px){
      margin-top: -2px;
    }
  }
  .card-body {
    width: fit-content;
    margin-bottom: 10px;
    
    /* border: 1px solid gainsboro; */
  }
  img {
    width: 120px;
    margin: auto;
    padding: 20px;
  }
  .card-title {
    font-size: $child-hedding;
    font-weight: bold;
  }
  .card-link {
    color: $red !important;
    text-decoration: none;
    font-size: $link-size;
    img {
      width: fit-content;
      margin-left: -10px;
      align-items: center;
      margin-bottom: 3px;
    }
  }
  p{
    font-size: $para-size;
    font-weight: 400;
  }
}
