@import "../../App.scss";
.main-banner {
  background-image: url(../../imges/banner-contact.jpg);
  width: 100%;
  padding-top: 240px;
  padding-bottom: 270px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-banner {
  h1 {
    color: white;
    font-size: $Banner-hedding;
    font-weight: 900;
    text-transform: uppercase;
  }
}

.main-formdiv {
  width: 100%;
  padding-bottom: 100px;
  padding-top: 100px;
  h1 {
    padding-bottom: 60px;
    font-size: $main-hedding;
    font-weight: bold;
    text-transform: uppercase;
  }
  h1::before {
    content: "";
    height: 35px;
    width: 7px;
    background: red;
    float: left;
    margin-right: 10px;
    border-radius: 3px;
    margin-top: 7px;
    @media screen and (max-width:1024px) {
      margin-top: 0;
      height: 30px;
    }
  }
  .form-container {
    width: 70%;
    margin: auto;
    padding-bottom: 90px;
    @media screen and (max-width: 575px) {
      padding-bottom: 0;
    }
  }
}

.content-row {
  text-align: center;
  padding-top: 50px;

  h2 {
    font-size: $child-hedding;
    font-weight: bold;
    text-transform: uppercase;
  }
  h6 {
    font-size: 26px;
    font-weight: normal;
    text-transform: uppercase;
  }
  p {
    width: 40%;
    margin: auto;
    text-decoration: underline;
    font-size: 14px;
  }
  a {
    text-decoration: none;
    color: red;
    font-size: 14px;
    font-weight: bold;
  }
  .firstcol {
    border-right: 2px solid black;

    @media screen and (max-width: 575px) {
      margin-bottom: 40px;
      border: none;
    }
  }
}
